/* ============================
   RESET / BASE GLOBAL
============================ */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    font-family: "Segoe UI", Arial, sans-serif;
    background-color: #f8fafc;
    color: #052b75;
    display: flex;
    flex-direction: column;
}

/* Conteúdo principal */
main.content {
    flex: 1;
}

/* ============================
   TIPOGRAFIA
============================ */
h1, h2, h3, h4, h5, h6 {
    color: #034596;
    font-weight: 600;
}

.text-muted {
    color: #6b7280 !important;
}

/* ============================
   CONTAINER
============================ */
.container {
    max-width: 1400px;
}
